.book-list {
    padding: 15px 0 0;
    /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-columns: 1fr 1fr; */
    list-style: none;
    gap: 10px;
    /* background-color: aquamarine; */
}

.book-list ul {
    margin: 0;
}
.book-list li {
    background-color: var(--clr1bg-light);
    border-radius: 0.5rem;
    /* height: 300px; */
}
.book-list div {
    padding: 10px;
}