.book-details {
    background-color: var(--clr1bg-light);
    padding: 20px;
}

img {
    width: 25%;
}

.red {
    color: red;
}

.green {
    color: green;
}

.book-details h1 {
    font-size: 2rem;
    color: var(--clr1);
}

/* .return{
    position: absolute;
    left: 0;
} */